DB_ROOT_PASSWORD={{ db_root_password }}
DB_PASSWORD={{ db_password }}
JWT_SECRET={{ jwt_secret }}
SMTP_HOST=smtp.resend.com
SMTP_PORT=587
SMTP_USERNAME=resend
SMTP_PASSWORD=
SMTP_FROM_ADDRESS=
SMTP_STARTTLS=true
ML_INTERNAL_TOKEN={{ ml_internal_token }}
